h1 {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 6px; 
  font-size: 16px; 
  text-decoration: none !important;

/*  color: #fff; 
*//*  text-shadow: -1.5px -1.5px 0 #ffffff, 1.5px -1.5px 0 #A93226, -1.5px 1.5px 0 #C0392B, 1.5px 1.5px 0 #F5B7B1; 
/**/
}

.bg {
  /* Background image and gradient */
/*   background: fixed, linear-gradient(to ttom, #fbfcfc 3%,#cc0000 27%,#e86f97 50%,#b08cff 75%,#5477af 100%);
*/  
  /*  Background blend mode 
      for blending the image and thegradient.
      The blend modes are: 
        screen, 
        overlay, 
        darken, 
        lighten,    
        color-dodge, 
        color-burn, 
        hard-light, 
        soft-light,       
        difference, 
        exclusion, 
        hue, 
        saturation, 
        color, 
        luminosity. 
        And also *normal* which reset it.
        */
  background-blend-mode: color-burn;
} 

p.intro{
    text-align: left;
    padding: 10px 30px 10px 40px;
    font-family: 'Lora', serif;
    font-size: 24px;
    text-decoration: none !important;

}

p.body{
    text-align: left;
    padding: 10px 30px 10px 40px;
    font-family: 'Lora', serif;
    font-size: 18px;
    text-decoration: none !important;
    line-height: 160%;
  }

p::selection {
  background: #ffff00;
}

p.header{
  padding: 10px 30px 10px 60px;
  font-family: Arial;
  text-decoration: none !important;
}

body {
  background-color: #fbfcfc;
  margin: 10px;
  font-family: 'Lora', serif;
  font-size: 12px; 
  color: #922b21;
  text-decoration: none !important;

}

span class.heading{
  padding: 10px 30px 10px 40px;
  font-family: 'Source Code Pro', monospace;
  text-decoration: none !important;
}


  a span.glow {
    color: #922b21;
    transition: all 0.3s ease-in-out 0s;
    text-decoration: none !important;
}

  a:hover span.glow:hover {
    color: #641e16 ;
    cursor: help;
    text-decoration: none !important;
    text-shadow:
    -1.5px -1.5px 0 #FFFFFF,
    1.5px -1.5px 0 #A93226,
    -1.5px 1.5px 0 #C0392B,
    1.5px 1.5px 0 #F5B7B1;
    transition: all 0.2s ease-in-out 0s;
}

