@font-face {
    font-family: 'Pantasia', serif;
    src: url("../justintam.github.io/assets/fonts/PantasiaCondensed-Regular.otf") format("opentype");
    /* font-display: fallback; */
}

#links {
	overflow-x: hidden;
	min-width: 30%;
	width: 30%;
}

#main {
	overflow-x: hidden;
	min-width: 30%;
	width: 30%;
}

#projects {
	overflow-x: hidden;
	min-width: 30%;
	width: 30%;
}

section {
    display: flex;
    flex-direction: row;
}

section div {
    width: 70%;
}

section div.body-text {
    padding: 60px 100px;
}

.body-text {
	font-size: 1.2rem;
	/* text-shadow: 0.3px 0.5px #580000;; */
	
	animation: fadeIn ease 0.8s;
	-webkit-animation: fadeIn ease 0.8s;
	-moz-animation: fadeIn ease 0.8s;
	-o-animation: fadeIn ease 0.8s;
	-ms-animation: fadeIn ease 0.8s;
}

@keyframes fadeIn{
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-moz-keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-webkit-keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-o-keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-ms-keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }

html {
	min-height: 100%;
	background: linear-gradient(hwb(170 88% 3%) 5%, rgba(189, 35, 35, 0) 98%);
}

body {
	--color-link: #000000;
	--color-link-hover: #000;
	color: var(--color-text);

	font-size: 1.33rem;
	
	float: left;
	font-family: 'Pantasia';
	line-height: 1.4;
	padding: 20px 10vw 0 5vw;
	position: relative;
	/* scrollbar-color: blue orange; */
	/* scrollbar-width: thin; */
	z-index: 20;
}


a {
    /* color: darkslategray;
	*/
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* a:hover {
    color: #d31c22;
    cursor: help;
    font-style: oblique;
	
} */

a::selection {
    background: #000;
    color: #d31c22;
}

::selection {
    background: #000;
    color: #fff;
}

a[target="_blank"]:hover::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

h1 {
    /* float: left; */
    font-size: 1.5rem;
    /* position: fixed; */
}

a.toplinks {
    background-size: 500% auto;
    background-position: -0% 0;
    color: #d31c22;
    font-size: 1rem;
    transition: background-position 1s ease-out;
    text-decoration: none;
}

a.toplinks:hover {
    background-position: -99.99% 0;
    cursor: help;
    font-size: 0;
    font-style: oblique;
    line-height: 0;
}

a.toplinks:hover:before {
    content: attr(data-hover);
    font-size: 1rem;
}

sup {
    font-size: 0.65rem;
    font-family: monospace;
    font-style: oblique;
	vertical-align: middle;
}

li {
    list-style-type: none;    
	padding-bottom: 8vw;
}

/* to make youtube responsive */
/* .embed-wrapper {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}
.embed-wrapper iframe {
	 border: 0;
	 height: 100%;
	 left: 0;
	 position: absolute;
	 top: 0;
	 width: 100%;
} */

.wheel {
	font-size: 1rem;
	/* padding-top: 10rem; */
}

/** MOBILE VIEW **/
@media only screen and (max-device-width: 375px) {
	body {
		height: 100%;
		max-height: 100%; 
	}
	
	.body-text {
		font-size: 1.5rem;
		width: 90%;
		padding: 5% 0 5% 5%;
	}
	
	#links {
		min-width: 30%;
		width: 30%;
		position: absolute;
	}
	
	#main {
		width: 100%;
		height: 100%;
		position: absolute;
	}
	
	#projects {
		min-width: 30%;
		width: 30%;
		position: absolute;
	}
	
	img {
		width: 100%;
	}
	
	iframe {
		width: 100%;
	}
}


/* Scribble link animation */
.link--worksans {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
}

.link--worksans::before {
    display: none;
}


.link {
    cursor: crosshair;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--color-link);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
	content: '';
    /* show by default */
}

.link__graphic {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    fill: none;
    stroke: var(--color-link-hover);
    stroke-width: 1px;
}

.link__graphic--stroke path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}

.link:hover .link__graphic--stroke path {
    stroke-dashoffset: 0;
}

.link__graphic--scribble {
    top: 100%;
}

.link__graphic--scribble path {
    transition: stroke-dashoffset 1.4s cubic-bezier(0.2, 0, 0.3, 0.6);
}

.link:hover .link__graphic--scribble path {
    transition-timing-function: cubic-bezier(2, 1.3, 2.7, 1);
    transition-duration: 0.7s;
}

/* 
// Original code
.link__graphic--scribble path {
	transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}

.link:hover .link__graphic--scribble path {
	transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
	transition-duration: 0.3s;
} */
/* Portrait fade */
/* 
.img-opacity img {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 80%;
}

.img-opacity .img-1 {
    opacity: 0.1;
}

.img-opacity .img-2 {
    opacity: 0;
}

.img-opacity:hover .img-1 {
    opacity: 0;
}

.img-opacity:hover .img-2 {
    opacity: 1;
}

.img-opacity img {
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
}

.img-opacity:hover img {
    transition:all .1s ease-in-out;
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    -ms-transition:all .1s ease-in-out;
    -o-transition:all .1s ease-in-out;
} */