@font-face {
  font-family: 'Lora';
  src:  url('https://fonts.googleapis.com/css?family=Lora'),
        url('https://fonts.googleapis.com/css?family=Work+Sans');
  font-display: fallback
}

body {
  background-color: #c0c0c0; /*fff6f5*/
  color: #d31c22;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 3;
	align-items: center;
	background: linear-gradient(#d6d4e4 90%, rgba(0, 0, 0, 0) 100%);
	display: inline-block;
	display: flex;
	float: left;
	justify-content: center;
	min-height: 100vh;
	position: relative;
	width: 80%;
  z-index: 20
}

.body-text {
  max-width: 38em;
  min-height: 50vw;
  padding: 7vw;
  width: 100%
}

h1 {
  float: left;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  position: fixed;
  padding: 2vw 0 0 0
}

h2 {
  font-family: 'Lora', serif;
  font-size: 1.5rem
}

a {
  background-size: 500% auto;
  background-position: -0% 0;
  color: #d31c22;
  transition: background-position 1s ease-out;
  text-decoration: none
}

a:hover {
  font-size: 0;
  line-height: 0;
  background-position: -99.99% 0;
  color: #d3721c; /*606060*/
  font-family: 'Work Sans', sans-serif;
  font-style: oblique
}

a:hover:before {
  content: attr(data-hover);
  font-size: 2rem;
  line-height: 2em;
  margin-bottom: -10px
}

a::selection {
  background: #000;
  color: #000
}

::selection {
  background: #000;
  color: #000
}


/* .hideonhover figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.hideonhover figure:hover img {
	-webkit-filter: grayscale(50%) blur(30px);
  filter: grayscale(50%) blur(30px);
  background: url(images/headshot2.jpg) no-repeat;
} */

.img-opacity img {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 80%
}

@media only screen and (max-device-width: 736px) {
  .img-opacity img {
    position: absolute;
    top: 101%;
    left: 15%
  }
}

.img-opacity .img-1 {
  opacity: 0.1
}

.img-opacity .img-2 {
  opacity: 0
}

.img-opacity:hover .img-1 {
  opacity: 0
}

.img-opacity:hover .img-2 {
  opacity: 1
}

.img-opacity img
{
transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out
}

.img-opacity:hover img
{
transition:all .1s ease-in-out;
-webkit-transition:all .1s ease-in-out;
-moz-transition:all .1s ease-in-out;
-ms-transition:all .1s ease-in-out;
-o-transition:all .1s ease-in-out
}
