body {
  background-color: #fff0e3; /*ffd4a6*/
  color: #2d2dba;
  font-family: 'Lora', serif;
  font-size: 1.7rem;
  line-height: 1.8;
  max-width: 80%;
  margin-left: 5%;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 3vw;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 2vw;
}

a {
  /* background-image: linear-gradient(to right, rgba(255, 165, 0, 0) 0%, #d3721c 99%); */
  background-size: 500% auto;
  background-position: -0% 0;
  color: #2d2dba;
  transition: background-position 1s ease-out;
  text-decoration: none;
}

a:hover {
  font-size: 0;
  line-height: 0;
  background-position: -99.99% 0;
  color: #d3721c; /*606060*/
  font-family: 'Work Sans', sans-serif;
  font-style: oblique;
}

a:hover:before {
  content: attr(data-hover);
  font-size: 1.7rem;
  line-height: 2em;
  margin-bottom: -10px;
}

a::selection {
  background: #000;
  color: #000;
}

::selection {
  background: #000;
  color: #000;
}


/* .hideonhover figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.hideonhover figure:hover img {
	-webkit-filter: grayscale(50%) blur(30px);
  filter: grayscale(50%) blur(30px);
  background: url(images/headshot2.jpg) no-repeat;
} */

.img-opacity img {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 80%
}

@media only screen and (max-device-width: 736px) {
  .img-opacity img {
    position: absolute;
    top: 90%;
    right: 10%;
    bottom: 0;
    left: 20%;
  }
}


.img-opacity .img-1 {
  opacity: 0.5;
}

.img-opacity .img-2 {
  opacity: 0;
}

.img-opacity:hover .img-1 {
  opacity: 0;
}

.img-opacity:hover .img-2 {
  opacity: 1;
}

.img-opacity img
{
transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
}

.img-opacity:hover img
{
transition:all .1s ease-in-out;
-webkit-transition:all .1s ease-in-out;
-moz-transition:all .1s ease-in-out;
-ms-transition:all .1s ease-in-out;
-o-transition:all .1s ease-in-out;
}
